<!--<div id="header">-->
<!--    <div id="header-section-one">-->
<!--        <p>_______</p>-->
<!--    </div>-->
<!--    <div id="header-section-two">-->
<!--        <p>-->
<!--            Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing-->
<!--            elit. Donec sit amet vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum-->
<!--            rhoncus ligula a leo placerat, vitae scelerisque purus malesuada. Pellentesque vel fringilla-->
<!--            lacus. Mauris auctor lectus eget eros dapibus imperdiet. Maecenas at placerat odio.-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--<div id="courier-delivery-service">-->
<!--    <h2 class="titles">Courier Delivery Service</h2>-->
<!--    <div id="text-courier-delivery-service">-->
<!--        <p>-->
<!--            JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important-->
<!--            that you provide correct address information. If after three failed attempts of delivering your prod--->
<!--            ucts, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not-->
<!--            picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will-->
<!--            be given to you for only the products.-->
<!--        </p>-->
<!--        <p>-->
<!--            You will receive a shipment email with a Purolator tracking number once your order is ready for-->
<!--            delivery. You will be able to start tracking your order at-->
<!--            <a class="links" href="#"> http:/www.purolator.com </a>-->
<!--            once Purolator-->
<!--            picks up the products from the JYSK store.-->
<!--        </p>-->
<!--    </div>-->
<!--    <div id="img-courier-delivery-service" >-->
<!--        <img  src="{{media url=&quot;wysiwyg/deliverylogo_1.png&quot;}}" alt="loading....." />-->
<!--    </div>-->
<!---->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--<div id="local-delivery-service">-->
<!--    <h2 class="titles">Local Delivery Service</h2>-->
<!--    <p>-->
<!--        JYSK.lv uses 3rd party delivery companies to send furniture and mattress products.-->
<!--        All deliveries will be a two man service and will be either first-point-of-entry or any room in the house depending on location.-->
<!--    </p>-->
<!--    <ul class="local-delivery-list">-->
<!--        <li> The best shipping company in the world </li>-->
<!--        <li> Another bullet point outlining the good local deliveries </li>-->
<!--        <li> The third bullet point example </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div id="local-delivery-bonus-sections">-->
<!--    <div id="delivery-bonus-first-section" >-->
<!--        <div  class="delivery-bonus-first-section-partitions-one" >-->
<!--            <i class="far fa-envelope"></i>-->
<!--        </div>-->
<!--        <div class="delivery-bonus-first-section-partitions-two" >-->
<!--            <h4>SANEM ATLAIDES KODU</h4>-->
<!--            <p>-->
<!--                Sanem registrdcijas apstiprinajumu un atlaides kodu uz e-pastu.-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="clear"></div>-->
<!--        <div   class="delivery-bonus-first-section-partitions-one">-->
<!--            <i class="fas fa-cart-plus"></i>-->
<!--        </div>-->
<!--        <div class="delivery-bonus-first-section-partitions-two" >-->
<!--            <h4>SANEM ATLAIDES KODU</h4>-->
<!--            <p>-->
<!--                Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.-->
<!--            </p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div id="delivery-bonus-second-section">-->
<!--        <i class="far fa-envelope"></i>-->
<!--        <h4>SANEM ATLAIDES KODU</h4>-->
<!--        <p>-->
<!--            Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.-->
<!--        </p>-->
<!--    </div>-->
<!--    <div id= "delivery-bonus-third-section" >-->
<!--        <i class="fas fa-cart-plus"></i>-->
<!--        <h4>SANEM ATLAIDES KODU</h4>-->
<!--        <p>-->
<!--            Sanem registracijas apstiprinajumu un atlaides kodu uz e-pastu.-->
<!--        </p>-->
<!--    </div>-->
<!---->
<!---->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--<div class="half-column-content" >-->
<!--    <h2 class="titles"> Half column content </h2>-->
<!--    <p>-->
<!--        JYSK.lv uses Purolator to deliver soft goods (ex. Bedding,Home Décor, Bath Products). It is important that you provide correct-->
<!--        address information.  If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for-->
<!--        two weeks for pick up. If your order is not picked up, it will be-->
<!--        returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.-->
<!--    </p>-->
<!--    <p>-->
<!--        You will receive a shipment email with a Purolator tracking  number once your order is ready for delivery.-->
<!--        You will be able to start tracking your order at <a class="links" href="#">http://www.purolator.com </a> once Puro--->
<!--        lator picks up the products from the JYSK store.-->
<!--    </p>-->
<!--</div>-->
<!--<div class="half-column-content" >-->
<!--    <h2 class="titles"> Half column content </h2>-->
<!--    <p>-->
<!--        JYSK.lv uses Purolator to deliver soft goods (ex. Bedding,Home Décor, Bath Products). It is important that you provide correct-->
<!--        address information.  If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for-->
<!--        two weeks for pick up. If your order is not picked up, it will be-->
<!--        returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.-->
<!--    </p>-->
<!--    <p>-->
<!--        You will receive a shipment email with a Purolator tracking  number once your order is ready for delivery.-->
<!--        You will be able to start tracking your order at <a class="links" href="#">http://www.purolator.com </a> once Puro--->
<!--        lator picks up the products from the JYSK store.-->
<!--    </p>-->
<!--</div>-->
<!--<div class="clear"></div>-->
<!--<div id="full-width-paragraph">-->
<!--    <h2 class="titles">Full width paragraph</h2>-->
<!--    <h3 class="subtitles">H3 SUBITLE</h3>-->
<!--    <p>-->
<!--        JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either-->
<!--        first-point-of-entry or any room in the house depending on location-->
<!--    </p>-->
<!--</div>-->
<!--<table id="table">-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <th>&nbsp;</th>-->
<!--        <th>A TABLE EXAMPLE COLUMN 1</th>-->
<!--        <th>ANOTHER COLUMN</th>-->
<!--        <th>LAST COLUMN</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Row title in two lines</td>-->
<!--        <td>Some text aligned in center of cell </td>-->
<!--        <td>Second row example</td>-->
<!--        <td> Last column row</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Small row title</td>-->
<!--        <td>Lorem ipsum dolor jysk amet</td>-->
<!--        <td>Consectuam</td>-->
<!--        <td>-->
<!--            <i class="fas fa-check"></i>-->
<!--            Integrated-->
<!--        </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Small row title</td>-->
<!--        <td>Lorem ipsum dolor jysk amet</td>-->
<!--        <td>-->
<!--            <i class="fas fa-check"></i>-->
<!--            Yes-->
<!--        </td>-->
<!--        <td> This was an empty cell</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Row title in three long lines to show fluidity</td>-->
<!--        <td>Two lines content can go there</td>-->
<!--        <td>Numbers of row is unlimited , and the content will stretch according to it</td>-->
<!--        <td>Two lines content can go there</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
