/*BASIC*/
*{
    box-sizing: border-box;
    font-size: 1vw;
}
body {
    background-color: #fff;
    word-break: break-all;
}
/*COMMON FOR ALL SECTIONS */
.clear {
    clear: both;
}
.titles{
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    padding: 30px 0 20px 0;
    font-size: 1.2vw;
}
.subtitles {
    color: #257fb7;
    font-weight: 400;
}
/*HEADER BLOCK*/
#header {
    color: #85b73c;
    padding-top: 50px;
}
#header-section-one{
    width: 5%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
}
#header-section-two{
    width: 95%;
    float: right;
    padding-left: 15px;
}
/*COURIER DELIVERY SERVICE BLOCK*/
#text-courier-delivery-service {
    color: #46536c;
    float: left;
    width: 80%;
    padding-right: 20px;
}

#img-courier-delivery-service {
    height: 200px;
    width: 20%;
    float: right;
    display: block;
}

/*LOCAL DELIVERY SERVICE BLOCK*/
#local-delivery-services{
    color: #46536c;
}
.local-delivery-list{
    color: #666;
    font-weight: 500;
}
/*LOCAL DELIVERY BONUSS SECTIONS*/
#delivery-bonus-first-section {
    width: 40%;
    float: left;
    padding: 10px;
}
.delivery-bonus-first-section-partitions-one{
    padding: 5% 0;
    width: 20%;
    float: left;
}
.delivery-bonus-first-section-partitions-two {
    width: 80%;
    float: right;
}
#delivery-bonus-second-section , #delivery-bonus-third-section {
    width: 30%;
    float: left;
    padding: 10px 40px;
    text-align:  center;
}
.fa-envelope , .fa-cart-plus{
    position: relative;
    color: #fff;
    border: 1px solid darkblue;
    background-color: #003187;
    padding: 15px;
    border-radius: 180px;
    display: block;
}

.fa-check {
    color: green;
}
/*HALF COLUMN SECTION*/
.half-column-content {
    color: #46536c;
    width: 50%;
    float: left;
    padding: 30px;
}

/*FULL WIDTH BLOCK*/
#full-width-paragraph {

}

.links{
    text-decoration: underline;
}
/*TABLE BLOCK*/
#table, #table th, #table td {
    color: #afb0b5;
    border: 2px solid #bbb;
    padding: 15px;
    text-align: center;
}
#table th {
    background-color: #f5f7fb;
    color: #8b8c90;
}
